streamlit
langchain
langchain-community
langchain-huggingface
langchain-pinecone
langgraph
pinecone
pinecone-client
python-dotenv
unstructured
pypdf
reportlab
sentence-transformers




